*,
::after,
::before{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Space Grotesk', sans-serif;
  
}

/* GLOBAL STYLES */
:root{

  /* COLORS */
  --bg-black: hsl(0, 0%, 8%);
  --accent:#18ff97;
  --contact-gray:#242424;
  --text1:#FFFFFF;
  --text2:#D9D9D9;
  --invalid:#ff6f5b;

  /* FONT SIZES */
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-18: 1.125rem;

  --container:69.375rem;
  --trasnsition: color 250ms ease-in-out;
}

/* DEFAULT ELEMENTS */
body{
  margin: 0%;
  background-color: var(--bg-black);
  color: var(--text1);
  line-height: 1.56;
  font-size: var(--fs-18);
  padding-bottom: 10em;
  
}

h1,
h2,
h3,
p{
  margin-top: 0%;
}
p{
  line-height: 1.0;
  font-size: 1rem;
  font-size: clamp(1.2rem, 0.99rem + 1.08vw, 1.5rem);
  color: var(--text2);
}
.basedon{
  margin-top: 1.3em;
  margin-bottom: 1.5em;
}
h1{
  margin-top: 1.5em;
  font-size: 2rem;
  font-size: clamp(2rem, 0.3rem + 5.68vw, 5.5rem);
  line-height: 1.2;
  margin-bottom: 20px;
}
@media screen and (min-width:599.98px){
  h1{
    margin-bottom: 60px;
  }
}
@media screen and (min-width:999.98px){
  h1{
    margin-bottom: 43px;
  }
}
a:hover{
  color: var(--accent);
}
a{
  transition: var(--trasnsition);
}
svg > path{
  transition: fill var(--trasnsition);
}

/* OVERALL SIZE */
.wrapper{
  width: calc(100% - 2rem);
  max-width: calc(--container);
  margin-inline: auto;
  
}
.visually_hidden{
  position: absolute;
  left: -10000px;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* TABLET 600PX */
@media(min-width:37.5em){
  .wrapper{
    width: calc(100% - 3.75rem);
  }
}

/* HEADER */
.header{
  margin-top: 20px;
}
.header__nav{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 20px 25px;
 
}
.header__home{
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.0229007633587786rem + 2.035623409669211vw, 2rem);
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}
@media(min-width:37.5em){
  .header__nav{
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 90px;
  }
  .header__home{
    flex: 1;
    margin-inline-end: auto;
  }
}

.header__social:hover > svg > path{
  fill: var(--accent);
}
.header__social > svg{
  display: block;
}
.header__social{
  display: inline-block;
}


/* HERO MAIN */
.hero{
  position: absolute;
  top: 140px;
  overflow: hidden;
}
.hero__wrapper{
  position: relative;
  padding-bottom: 50px;
  border-bottom: 2px solid var(--text2);
  
}
.hero__image {
  margin-inline: auto ;
  display: block;
}
.hero__text{
  margin-top: 15px;
  text-align: center;
  position: relative;
}
.hero__headline > h1 > .nobreak, .namebreak{
  display: none;
}
.hero__description{
}
.hero__contact{
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text1);
  text-decoration:  2px solid underline;
  text-underline-offset: 0.44em;
  text-decoration-color: var(--accent);
}

/* HERO HEADLINE WRAPPING */
.wrapit{
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-wrap: wrap;
  /* flex-wrap: wrap;
  justify-content: center; */
}
.black{
  color: var(--bg-black);
}
.my__name{
  text-decoration:  4px solid underline;
  text-underline-offset: 0.24em;
  text-decoration-color: var(--accent);
}



/* IMAGES */
@media screen and (max-width: 598.98px){   
  .hero__image{      
      content:url("Images/RoMIn__mobile_-removebg-preview.png");
      width: 215px;
      height: auto;
      /* background-image: linear-gradient(var(--bg-black), rgb(47, 46, 46)
      ); */
  } 

}

@media screen and (min-width: 37.5em){      
  .hero__image{     
    content:url("Images/My project_real_tablet.png"); 
    width: 27.125rem; 
    height: auto;
    left: auto;
    right: 0;
    translate: 0;
    background-image: linear-gradient(var(--bg-black), rgb(47, 46, 46)
      );
      z-index: -1;
  }
} 


/* SVG'S STYLING */
.hero__circles{
  position: absolute;
  right: 0;
  translate: 60%;
  top: 145px;
}
.hero__rings{
  position: absolute;
  right: 50%;
  top: 5px;
  z-index: -1;
}
@media screen and (min-width:37.5em){
  .hero{
    top: 25px;
  }
  .hero__text,
  .wrapit
  {
    text-align: left;
    margin-top: 0%;
    align-items: left;
    justify-content: left;
    top:0px ;
    
  }
  .header__nav{
    margin-bottom: 0%;
  }
  .hero__text{
   
    margin-top: 0%;
  }
  .hero__description{
    width: 50%;
  }
  .hero__headline{
    margin-top: 140px;
    flex-wrap: nowrap;
  }
  .hero__headline > br {
    display: none;
    flex-wrap: nowrap;
  }
  .hero__image{
    position: absolute;
    right: 0;
    translate: 8%;
  }
  .hero__rings{
    top: -75px;
  }
  .hero__circles{
    top: 265px;
    translate: 70%;
  }
  .hero__headline > h1 > br{
    display: block;
    flex-wrap: wrap;
  }
  .hero__headline > h1 > .nobreak{
    display: block;
    flex-wrap:wrap ;
  } 
  .hero__headline > h1 > .breakit{
    display: none;
  }
  .basedon{
    margin-bottom: 1.25em;
  }
}

@media (min-width: 62.5em) {
  .hero__image{        
    content:url("Images/My project_dekop.png");  
    border: 2px solid red;
    width: 28.125rem; 
    height: auto;
    /* position:absolute ;
    margin-top: -32px;
    left: 20%; */
} 
.hero__circles{
  position: absolute;
  right: 0;
  translate: 77%;
  top: 279px;
}
.hero__rings{
  position: absolute;
  right: 63%;
  top: -57px;
  z-index: -1;
}
.wrapper{
  width: calc(100% - 10rem);
  max-width: calc(--container);
  margin-inline: auto;
  
}
.my__name{
  text-decoration:  5px solid underline;
  text-underline-offset: 0.28em;
  text-decoration-color: var(--accent);
}
  .hero{
    border: 2px solid darkgray;
    width: 100%;
  }
  .hero__wrapper{
    /* position: relative; */
  }
  .hero__headline > h1 >br > .nobreak{
    flex-wrap:nowrap ;
  } 
  .hero__description{
    margin-bottom: 66px;
  }

}

@media screen and (min-width: 1000px){

} 
@media (min-width: 992px){      
 
}